.nav-item {
  a {
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  a {
    &::after {
      content: "";
      display: block;
      width: 53px;
      height: 3px;
      background: rgb(212, 178, 27);
      clip-path: var(--clippy);
      transition: clip-path 0.7s;
    }
    &:hover {
      --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.img-home-2 {
  animation: animar 4s 1 linear;
}
@keyframes animar {
  0% {
    transform: translateY(-280px);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: translateY(0px);
  }
}
