body {
  overflow-x: hidden;
  background: black;
}

/* ===========Menu========== */
#menu {
  border-bottom: 2px solid gray;
}
#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
#menu form > button {
  font-size: 18px;
  font-weight: bold;
}
.title-home {
  color: #fff;
  font-size: calc(1.525rem + 3.3vw);
}
.img-home-1 {
  display: none;
}
.coffee {
  width: 100px;
}
.products > div {
  width: 300px;
}
@media screen and (min-width: 900px) {
  .img-home-2 {
    display: none;
  }
  .img-home-1 {
    display: block;
    transform: rotate(-65deg);
  }

  .img-about-1,
  .img-about-2 {
    max-width: 520px;
  }

  .logo-about {
    max-width: 350px;
  }

  body {
    min-height: 100vh;
  }
  /* .container-contactos {
    height: 100%;
  }

  .contactos-block {
    height: 100vh;
  } */
}
