* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: radial-gradient(
    circle at 79.83% 44.74%,
    #5f491a 0,
    #5b4019 10%,
    #533617 20%,
    #472a14 30%,
    #381e0f 40%,
    #271103 50%,
    #180000 60%,
    #000000 70%,
    #000000 80%,
    #000000 90%,
    #000000 100%
  );
}
.body-home {
  overflow: hidden;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(3, auto);
  color: #fff;
  margin: 0 auto;
  width: 95%;
  height: 98%;
  font-family: "Montserrat", sans-serif;
  grid-gap: 20px;
}
/*------------------------STYLE OF HOME PAGE -------------------------- */

/*------- STYLE OF THE HEADER------ */
.header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  z-index: 200;
  height: 100px;
}
/* --------------------------------- */

/*----------- LOGO STYLES -----------*/
.home-logo {
  width: 6%;
  height: 70px;
  text-align: center;
}
.img-logo {
  width: 100%;
}
/* ---------------------------------- */

/* ------------- NAV STYLES --------- */
.menu-nav {
  display: flex;
  width: 78%;
  align-items: center;
  justify-content: center;
}

.menu-nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 6em;
}

.menu-nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  font-weight: 500;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.menu-nav a::after {
  content: "";
  background: #fece2f;
  display: block;
  width: 95%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.7s;
}

.shop-register {
  width: 16%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.shop-register i {
  color: #fff;
  font-size: 1.2rem;
}
.fa-user {
  padding-left: 0.7rem;
}

.shop-register .fas:hover {
  color: #caa732;
  transition: color 0.4s ease-out;
}

/* ----------------------------------------- */

/* ---- NAV RESPONSIVE (BAR ICON) STYLES --- */
.nav-input:checked + ul {
  background: #000;
}
.nav-label,
.nav-input {
  display: none;
}

.menu-nav a:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* ----------------------------------------- */

/* -------  STYLE OF MAIN ---------- */
.main-home {
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  z-index: 20;
}
.title-description-home {
  flex-basis: 1070px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px 150px 50px 50px;
}
.name-coffeshop {
  font-size: 10rem;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0.11em;
  color: #f7f2f2;
  text-shadow: 2px 2px 2px #fff;
}
.description-home {
  font-weight: 100;
  line-height: 1.8;
  padding: 0 10rem 0 0.6rem;
}
.order {
  /* height: 20%; */
  padding: 1rem 0 0 0.6rem;
}

.order-button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background: none;
  background-color: rgb(212, 156, 34);
  text-transform: uppercase;
  padding: 0.4em;
  letter-spacing: 0.05rem;
  font-weight: 700;
}
.order-button:hover {
  background-color: #fece2f;
  transition: background-color 0.5s;
}
.img-home {
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  transform: rotate(-65deg);
  width: 820px;
  height: 820px;
  z-index: 10;
}

.img-home-2 {
  display: none;
  width: 200px;
  height: 200px;
}

/* ---------- STYLE OF FOOTER -------- */
.footer {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.footer-copyr {
  text-align: center;
  /* height: 20px; */
  letter-spacing: 0.1rem;
  align-self: flex-end;
}
.icons-rsocials {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
  justify-content: flex-end;
}

.f-icon,
.ig-icon,
.tw-icon {
  font-size: 1.5rem;
  color: #fff;
}

.icons-rsocials i:hover {
  transform: scale(1.5);
  transition: transform 0.8s;
}
