body {
  font-family: ;
  overflow-x: hidden;
  background: black;
}

/* ===========Menu========== */
#menu li > a {
  font-size: 18px;
  font-weight: bold;
  color: #3f3f3f;
}

#menu form > button {
  font-size: 18px;
  font-weight: bold;
}
#img-home-2 {
  /* min-width: 200px; */
  /* max-width: 200px; */
  /* height: auto; */
}

.title-home {
  color: #fff;
  /* font-size: 3rem; */
  font-size: calc(1.525rem + 3.3vw);
}
