@media (min-width: 576px) {
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 70%;
  }
}
@media screen and (min-width: 900px) {
  .body-home {
    height: 100vh;
    background: $bgcolor-body;
  }
  .container-home {
    background: $bgcolor-container;
    width: 90%;
    height: 90%;
  }
  .img-home-2 {
    display: none;
  }
  .img-home-1,
  #image-home {
    display: block;
  }
  #image-home {
    height: 400px;
    z-index: 100;
  }
  .img-circle {
    position: relative;
  }
  .circle {
    background-color: #2d221e;
    position: absolute;
    width: 310px;
    height: 310px;
    border-radius: 50%;
  }
  .img-about-1,
  .img-about-2 {
    max-width: 400px;
  }

  .logo-about {
    max-width: 350px;
  }
  body {
    min-height: 100vh;
  }
  .nav-item {
    a {
      &::after {
        width: 95%;
      }
    }
  }

  .review-persons {
    width: 450px;
    padding: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .container-about {
    display: flex;
    align-items: center;
  }
  .container-descriptionAbout {
    border: none;
    border-left: 1px solid $amarillo;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1400px) {
  #image-home {
    height: 650px;
  }
  .circle {
    width: 410px;
    height: 410px;
  }
  .img-about-1,
  .img-about-2 {
    max-width: 500px;
  }
}
