$mostaza: rgba(247, 216, 169, 0.5);
$blanco: #fff;
$amarillo: #ffc212;
$negro: #171721;
$negro-2: #1f222b;
$mostaza-2: #d3ad7f;
$lightgray: rgb(189, 184, 184);
$bgcolor-body: #100e0e;
$bgcolor-container: #201a1a;
$amarillo-ligth: #e4d54e;
